<!DOCTYPE html>
<body> {
    display: inline-block;
}
<img src= "https://unsplash.it/200/300" height="42" width="20">
</body>

html {}

img {}

img {
    width: 30%;
    padding: 0px;
}

header {
    display: block;
    line-height: 80px;
    background-color: rgb(44, 44, 44);
    margin-bottom: 1px;
    color: rgb(250,250,250);
    text-align: center;
    font-size: 200%;
    font-family: sans-serif;
    font-weight: bolder;
}

h1 {
    display: block;
    text-align: center;
    font-size: 1em;
}

.grey {
    background-color: rgb(200,200,200);
    color: white;
    margin-right: 1px;
}


h2 {
  background-color: 71EEB8;
  line-height: 50px;
  padding-left: 10px;
  padding-right: 71%;
  display: inline-block;
}

.photos {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
}

.align {
  width: 100%;
  display: inline-block;
}
