<!DOCTYPE html> 
<body> {
    display: inline-block;
}
<img src= "https://unsplash.it/200/300" height="42" width="20">
</body>

html {}

img {}

img {
    width: 30%;
}

header {
    display: block;
    line-height: 50px;
    background-color: rgb(44, 44, 44);
    margin-bottom: 1px;
    color: rgb(250,250,250);
    text-align: center;
}